.news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    background-color: aquamarine;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}