.news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    background-color: white;
}

.news {
    display: flex;
    justify-content: space-between;

    
}
h3{
    text-align: center;
    color: blue;
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 20px;
}
