.news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    background-color: white;
}

.news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
h3{
    text-align: center;
    color: blue;
}